@mixin media_desktop(){
  @media(min-width: 768px){
    @content
  }
}
@mixin space_section {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 20px 30px;
  @include media_desktop {
    margin-top: 50px;
    margin-bottom: 140px;
    padding: 10px 20px 30px;
  }
}
@mixin btn {
  line-height:65px;
  display: inline-block;
  width: 70%;
  background:
  -webkit-linear-gradient(45deg, transparent 10px, $clr-black 10px), -webkit-linear-gradient(135deg, transparent 10px, $clr-black 10px), -webkit-linear-gradient(225deg, transparent 10px, $clr-black 10px), -webkit-linear-gradient(315deg, transparent 10px, $clr-black 10px);
  background-position: bottom left, bottom right, top right, top left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  color: #ffffff;
  @include media_desktop {
    width: 300px;
    height: 65px;
  }
}
@mixin secTitle {
  font-family: 'Fugaz One', cursive;
  font-size: 3rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  &:before {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: #000;
    margin-right:20px;
  }
  &:after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: #000;
    margin-left:20px;
  }
}
