@import "~/node_modules/bootstrap/scss/bootstrap.scss";

@import "./library/variable";
@import "./library/mixin";

:root{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  background-color: $clr-main;
}

a {
  color: $clr-accent;
  text-decoration: underline;

  &:hover {
    color: $clr-accent;
  }

}

.container{
  max-width: 980px;
}

// 横線付きタイトルコンポーネント
.c-title {
  margin-bottom: 40px;
  font-family: 'Fugaz One', cursive;
  font-size: 3rem;
  font-weight: normal;
  display: flex;
  align-items: center;

  @include media_desktop {
    font-size: 5rem;
  }

  &:before {
    content: "";
    flex-grow: 1;
    height: 3px;
    background: #fff;
    margin-right:20px;
    border-radius: 9999px;
  }
  &:after {
    content: "";
    flex-grow: 1;
    height: 3px;
    background: #fff;
    margin-left:20px;
    border-radius: 9999px;
  }
}
